<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name=".ExportRenderService"
            android:exported="false"
            android:process=":export_renderer"
            android:stopWithTask="true" />
    </application>
</manifest>
