<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">
        <service
            android:name="com.lezi.babylog.validation.RendererStartupProbeService"
            android:exported="false"
            android:process=":export_renderer" />
    </application>
</manifest>
